body {
    background-color: black;
    color: gray;
}

header, main, nav {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

nav a.active {
    background-color: #828282;
    text-shadow: 2px 2px 4px #0b285c;
    padding: 3px 6px;
}

table {
    margin: 0px auto;
}

/* id to identify a single element  */
#table-header {
    background-color: rgb(9, 105, 146);
}

/* class to style a group of elements */
.table-row {
    background-color: #deebeb;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

ul {
    width: 500px;
    margin: 0px auto;
    text-align: left;
}

.hobby {
    color: yellow
}

main {
    display: flex;
    justify-content: center;;
}

h1 {
  font-family: "Meow Script", cursive;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

footer {
    font-size: smaller;
    color: #8fa0bd;
}
