body {
    background-color: black;
    color: gray;
}

header, main, nav {
        text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

main {
    display: flex;
    justify-content: center;;
}

footer {
    font-size: smaller;
    color: #0b285c;
}