body {
    background-color: rgb(229, 229, 229);
    /* Lora Font */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    font-family: "Google Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgb(210, 210, 210);
}

main {
    text-align: left;
}

h2, h3 {
    /* Montserrat Font */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 1.5em;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    /* Oswald Font */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav a:hover {
    border-bottom: 5px solid red;
    background-color: rgb(255, 255, 255);
    transition: .9s;
}

nav a.active {
    background-color: rgb(255, 255, 255);
    color: #4285F4;
    border-radius: 6px;
    text-shadow: 2px 2px 1px rgb(207, 205, 205);
}

figure {
    /* width: 1000px;
    margin: 0 auto; */
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

figure img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 10px rgb(207, 205, 205);
}

figcaption {
    text-align: left;
    margin-top: 6px;
}

section {
    margin-top: 20px;
}

summary {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 15px;
}

footer {
    text-align: center;
    /* Google Sans Font */
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: small;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
}